{{#if myProducts}}
   <div class="row d-flex">
 
    {{#each myProducts}}
          <div class="col-md-3 d-flex mb-2">
          	<div class="blog-entry align-self-stretch">
                <img src={{image}} alt=""class="img-fluid"  >
              <div class="text py-4 d-block">
                {{#if user.userImage}}
                  <div class="card-footer justify-content-between d-flex">
                <div class="btn-group btn-group-sm ">
                     <span class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
                          <img class="rounded-circle me-1" width="24" height="24" src={{user.userImage}} alt="">
                        {{user.firstName}} {{user.lastName}}
                      </span>
                </div>
                 <div><a href="#" class="text-decoration-none m-0 p-0">{{formatDate createdAt}}</a></div>
                
                 </div>
                {{else}}
                <div class="card-footer justify-content-between d-flex">
                  <div class="d-flex gap-3 align-items-center">
                  <div class="avatar bg-primary">
                    <p>{{getFullNameFirstCharacter user.firstName user.lastName}}</p>
                  </div>
                  <p class="m-0 p-0">{{user.firstName}} {{user.lastName}}</p> 
                  </div>
                <div><a href="#" class="text-decoration-none m-0 p-0">{{formatDate createdAt}}</a></div>
                
                 </div>
                
              	{{/if}}
                <div class="meta">
                  <div><a href="#" class="text-decoration-none text-muted">${{price}}</a></div>
                  {{!-- <div><a href="#" class=""><span class="icon-chat"></span> 3</a></div> --}}
                </div>
                <h3 class="heading mt-2"><a href="#" class="text-decoration-none fw-bold text-muted fs-5 text-dark">{{title}}</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
         
               
            </div>
          </div>
      {{/each}}    
        </div>
{{else}}
    <p>Not found any products</p>
{{/if}}