{{#if myProducts}}
   <div class="row d-flex mt-5 justify-content-start mb-5">
 
    {{#each myProducts}}
          <div class="col-sm-2 d-flex mb-2">
          	<div class="">
                <div class=" productListImage">
                  <img src={{image}} alt=""class="img-thumbnail border-0"  >
                </div>
           
              <div class="text py-4 ">
                <div><a href="#" class="text-decoration-none m-0 p-0">{{formatDate createdAt}}</a></div>
                <div class="meta">
                  <div><a href="#" class="text-decoration-none text-muted">${{price}}</a></div>
                  {{!-- <div><a href="#" class=""><span class="icon-chat"></span> 3</a></div> --}}
                </div>
                <h3 class="heading mt-2"><a href="#" class="text-decoration-none fw-bold text-muted fs-5 text-dark">{{title}}</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
         
               
            </div>
          </div>
      {{/each}}    
        </div>
{{else}}
    <p>Not found any products</p>
{{/if}}


