{{#if products}}
   <div class="row d-flex mt-5 justify-content-center mb-5 align-items-end">
 
    {{#each products}}
        <div class="col-sm-2 d-flex mb-2 card m-1 border-0 mt-5">
          	<div class="">
                <div class=" productListImage">
                <img src={{image}} alt=""class="img-thumbnail border-0"  >
                </div>
              
              <div class=" py-4 d-block">
              	<div class="meta">
                  <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                      {{!-- <a type="button" class="btn btn-outline-primary" href="/product/{{_id}}"><i class="bi bi-eye"></i></a> --}}
                      {{#if @root.token}}
                        {{#ifequal user @root.userId}}
                          <a type="button" class="btn btn-outline-secondary" href="/edit-product/{{_id}}"><i class="bi bi-pencil-square"></i></a>
                          <form action="/delete-product/{{_id}}" method="post" class="btn btn-outline-danger">
                            <button type="submit" class="deleteBtn"><i class="bi bi-trash"></i></button>
                          </form>
                        {{/ifequal}}
                      {{/if}}
                  </div>
                  <div class="d-flex gap-3 justify-content-between">
                  {{!-- <div><a href="#" class="text-decoration-none">{{formatDate createdAt}}</a></div> --}}
                  </div>
                </div>
                <h3 class="heading mt-2 "><a href="/product/{{_id}}" class="text-decoration-none fw-bold text-dark fs-6 font-monospace">{{truncateText title 0 35}}...</a></h3>
                <p class=" fw-normal lean">{{truncateText description 0 50}} <span class="text-danger fs-5">...</span> </p>
              </div>
             
             
            </div>
           
            <div class="d-flex justify-content-between gap-5 mb-3">
              <span class="fs-5 fw-bold">${{price}} </span>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-outline-danger"><i class="bi bi-dash"></i></button>
                  <span class="btn btn-outline-danger">1</span>
                <button class="btn btn-outline-danger"><i class="bi bi-plus"></i></button>
              </div>
            </div>
            <div class="d-flex mt-2 justify-content-between">
              <button class="btn btn-danger col-9"><i class="bi bi-cart-plus"></i> Add to cart</button>
              <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
            </div>

        </div>
            
    {{/each}}
        <div class="navigation mt-5 d-flex justify-content-center align-items-center gap-3">
          <span>Page {{currentPage}} of {{totalPages}}</span>
          
          <form action="/search" method="post">
          <input type="hidden"   name="page" value="{{prevPage currentPage totalPages}}">
          <button class="btn btn-outline-primary" type="submit"><< Prev</button>
          </form>
       
          <form action="/search" method="post">
          <input type="hidden"   name="page" value="{{nextPage currentPage totalPages}}">
          <button class="btn btn-outline-primary" type="submit">Next >></button>
          </form>
          

         

        </div>    
      </div>


{{else}}
    <div class="container mt-5 mb-5 p-5">
      <h1 class="fw-bold  display-1">404 Not Found</h1>
      <p class="lead">Your visited page not found. You may go home page.</p>
      <a class="btn btn-danger col-4 p-3 mt-3" href="/">Back to home page</a>
    </div>

{{/if}}

