<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="/">
         <i class="bi bi-house-fill"></i>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="/products">Profile</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="/setting">Setting</a>
      </li>
    </ol>
</nav>
 <div class="col-12 shadow rounded p-3">
     <div class="row d-flex justify-content-between">
        <div class="col-8">
            <div class="p-5 pt-2 pb-4 border-bottom-0">
        <h1 class="fw-bold fs-2">Setting your account</h1>
        <h1 class="fw-light fs-6">Enter your details below</h1>

            </div>
            
            <div class="modal-body p-5 pt-0">
                {{#if settingError}}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Info!</strong> {{settingError}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/if}}
                <form class="" novalidate="" action="/setting" method="post" enctype="multipart/form-data"> 
                <div class="row g-4">
                    <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input  name="firstName" value="{{userData.firstName}}" type="text" class="form-control border-0 border-bottom" id="firstName" placeholder="First name" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input name="lastName" value="{{userData.lastName}}" type="text" class="form-control border-0 border-bottom" id="lastName" placeholder="Last name" value="" required>
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <label for="email" class="form-label">Email <span class="text-warning fs-5">*</span></label>
                    <input  name="email" type="email" value="{{userData.email}}" class="form-control border-0 border-bottom" id="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                    </div>
                            
                    <div class="col-sm-6">
                <label for="userImage" class="form-label">User image</label>
                <input name="userImage" value="{{userData.userImage}}"  type="text" class="form-control border-0 border-bottom" id="lastName" placeholder="User image link" value="">
                <div class="invalid-feedback">
                    User image is required.
                </div>
                    </div>
                    <div class="col-md-3">
                    {{!-- <label for="address" class="form-label">Address</label> --}}
                    <input name="address" value="{{userData.address}}"  type="text" class="form-control border-0 border-bottom" id="address" placeholder="Address" required>
                    <div class="invalid-feedback">
                        Please enter your address.
                    </div>
                    
                    </div>
                

                <div class="col-md-3">
                    {{!-- <label for="country" class="form-label">Country</label> --}}
                    <select name="country" class="form-select" id="country" required>
                        <option value="{{userData.country}}" selected>{{userData.country}}</option>
                        <option value="Uzbekistan">Uzbeksitan</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                    </div>

                    <div class="col-md-3">
                    {{!-- <label for="state" class="form-label">State</label> --}}
                    <select name="state" class="form-select" id="state" required>
                        <option value="{{userData.state}}">{{userData.state}}</option>
                        <option value="Tashkent">Tashkent</option>
                        <option value="Andijan">Andijan</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                    </div>

                    <div class="col-md-3">
                    {{!-- <label for="zip" class="form-label">Zip</label> --}}
                    <input name="zipCode" value="{{userData.zipCode}}"  type="text" class="form-control" id="zip" placeholder="Zip code" required>
                    <div class="invalid-feedback">
                        Zip code required.
                    </div>
                    </div>
                </div>

                <hr class="my-4">
                    <div class="col-sm-6 mb-3">
                    <label for="email" class="form-label">Confirm Password <span class="text-warning fs-5">*</span></label>
                    <input  name="password" type="password" class="form-control border-0 border-bottom" id="email" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please enter a your secret key
                    </div>
                    </div>
                <button class="py-2 mb-2 btn btn-danger rounded-3 col-8" type="submit">Edit Account</button>
                
                {{!-- <h2 class="fs-5 fw-bold mb-3">Or Sign up with a third-party </h2> --}}
                <button class="py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                    <i class="bi bi-twitter"></i>
                    
                </button>
                <button class="py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                    <i class="bi bi-facebook"></i>
                    
                </button>
                <button class="py-2 mb-2 btn btn-outline-danger rounded-3" type="submit">
                    <i class="bi bi-google"></i>
                    
                </button>
                <hr class="my-4">
            </form>
            <div class="d-flex">
                <span class="bg-black text-danger rounded text-center p-2 me-2 fw-bold"> Danger: 
                    <span class="text-light fw-normal"> I want to delete my account:</span>
                </span>
                
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Account</button>
        <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Delete Account Confirmation
                                Dear <span class="bg-warning fw-bold ps-pe-3">{{userData.firstName}} {{userData.lastName}}</span>,
                                We are sorry to see you go. Before you proceed with deleting your account, please take a moment to read the following:
                                This action cannot be undone, and you will lose access to your account, settings, preferences, and any content or data associated with your account.
                                Deleted data cannot be recovered. If you wish to continue, please be sure that you have backed up any important information.
                                If you are facing any issues or have concerns, we encourage you to contact our support team at <span class="text-danger"><i class="bi bi-envelope-at"></i><a href="malito:uzdev7@gmail.com" class="text-decoration-none text-danger"> uzdev7@gmail.com </a></span> or <span class="text-danger">+9998900066639</span>. We'd be happy to assist you.
                                If you still wish to delete your account, please click the button below:
                                <span class="btn btn-outline-danger">Delete Account Button</span>
                                By clicking the <span class="btn btn-danger"> "Delete Account"</span> button, you acknowledge that you have read and understood the consequences of this action.
                                Thank you for being a part of our community. We value your feedback and insights, and if you ever decide to return, we'll be here to welcome you back.
                                Best regards,
                                The Exclusive Team
                                <hr>
                              
                                </div>
                                    <form class="was-validated" action="/delete-account/{{userData._id}}" method="post">
                                <div class="modal-footer">
                                    <div class="col-12 d-block mb-3">
                                            <label for="email" class="form-label">Confirm Password <span class="text-warning fs-5">*</span></label>
                                            <input  name="password" type="password" class="form-control border-0 border-bottom" id="email" placeholder="Password" required>
                                            <div class="invalid-feedback">
                                                Please enter a your secret key
                                            </div>
                                    </div>
                                    <div>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete Account</button>
                                    </div>
                                    {{!-- <button class=" btn btn-outline-danger" type="submit"> Delete account</button> --}}
                                </div>
                                    </form>
                                    </div>
                                </div>
                                </div>



                            </div>
                            </div>
                        </div>
       
        <div class="col-lg-3 p-5 me-4 text-center rounded  bg-light-subtle justify-conten-center pt-5">
            <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="{{userData.userImage}}" alt="">
            <h5 class="fw-normal mb-4"><span class="bg-warning p-1 fw-semibold rounded">{{userData.firstName}}</span> {{userData.lastName}}</h5>
            <p><span class="fw-bold">Address:</span> {{userData.address}}</p>
            <p><span class="fw-bold">State:</span> {{userData.state}}</p>
            <p><span class="fw-bold">Country:</span> {{userData.country}}</p>
            <p><a class="btn btn-danger" href="/products">My products »</a></p>
        </div>
        </div>
     </div>

  </div>



