
<header class=" container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none fs-3 fw-bolder font-monospace ">
        <span><i class="bi bi-cart3 text-danger"> </i></span> Exclusive</a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 ">Home</a></li>
        {{#if isContact}}
        <li><a href="/Contact" class="nav-link text-secondary text-center text-primary-emphasis bg-primary-subtle">Contact</a></li>
        {{else}}
        <li><a href="/Contact" class="nav-link px-2 link-secondary">Contact</a></li>
        {{/if}}
        <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
        {{#if token}}
        <li>
          {{#if isAdd}}
              <a href="/add" class="nav-link text-secondary text-center text-primary-emphasis bg-primary-subtle ">Add</a>
              {{else}}
              <a href="/add" class="nav-link text-secondary text-center">Add </a>
              {{/if}}
        </li>
        <li>
           {{#if isProducts}}
              <a href="/products" class="nav-link text-secondary text-center text-primary-emphasis bg-primary-subtle ">My Products</a>
              {{else}}
              <a href="/products" class="nav-link text-secondary text-center ">My Products</a>
              {{/if}}
        </li>
        {{/if}}
      </ul>
      <div class="text-end d-flex">
      <form id="searchForm" class="col-8 col-lg-auto mb-3 mb-lg-0 me-lg-3 bg-" role="search" action="/search", method="post">
        <div class="input-group">
          <input name="searchedText" type="search" class="form-control" placeholder="What are you looking for?" aria-label="Search">
          <button class="input-group-text"  type="submit"  ><i class="bi bi-search" ></i></button>
        </div>
      </form>
      {{#if token}}
      {{#if isLiked}}
        <a type="button" class="btn btn-outline-danger me-3 position-relative active" href="/my-liked">
          <i class="bi bi-heart"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">{{likedLength}}</span>
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-danger me-3 position-relative" href="/my-liked">
          <i class="bi bi-heart"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{likedLength}}</span>
        </a>
        {{/if}}
        {{#if isCart}}
        <a type="button" class="btn btn-outline-success me-3 position-relative active" href="/my-cart">
          <i class="bi bi-cart3"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{cartLength}}</span>
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-success me-3 position-relative" href="/my-cart">
          <i class="bi bi-cart3"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{cartLength}}</span>
        </a>
        {{/if}}
        <a type="button" class="btn btn-outline-primary me-2" href="/logout"><i class="bi bi-box-arrow-right"></i></a>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/add">New product...</a></li>
            <li><a class="dropdown-item" href="/setting">Settings</a></li>
            <li><a class="dropdown-item" href="/products">Profile</a></li>
            <li><a class="dropdown-item" href="/dashbord">Dashbord</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
      {{else}}
      {{#if isLogin}}
        <a type="button" class="btn btn-danger me-2 " href="/login">Login</a>
        {{else}}
        <a type="button" class="btn btn-outline-primary me-2" href="/login">Login</a>
      {{/if}}
      {{#if isRegister}}
        <a type="button" class="btn btn-danger" href="/register">Sign-up</a>
        {{else}}
        <a type="button" class="btn btn-outline-danger" href="/register">Sign-up</a>
        {{/if}}
      {{/if}}
      </div>
</header>

<hr class="mt-0">


